 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Apply styles to the whole page */
body {
    background-color: #d9dcd6;
}

/* Assign font to both the header and footer*/
header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Set the font family for the navigation servcie and benefits */
header nav, .services, .benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Apply styles to the header */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* Enlarge the h1 font and keep on one line */
header h1 {
    display: inline;
    font-size: 48px;
}

/* Changes color of the letters "SEO" in header */
header h1 .seo {
    color: #d9dcd6; 
}

/* Set the font and placement of the navigation elements */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Remove markers from navigation list 
This doesn't appear to do anything.  Why not? - it should */
header nav ul {
    list-style-type: none;
}

/* Keep navigation list on same line as header and add spacing */
header nav ul li {
    display: inline;
    margin-left: 25px;
}

/* Set color and remove underlining of nav items */
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Set hero (large image) placement */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Style the overall services section */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Service section box styling */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* Service section image height */
.service img {
    max-height: 200px;
}

/* Service section headings */
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Service paragraph font size */
.service p {
    font-size: 16px;
}

/* Style the side benefit box */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Style each benefit article */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set benefit font */
.benefit p {
    font-size: 16px;
}

/* Place the image relative to the text */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* Style the footer */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/* End of CCS.style */